<div class="container-fluid" style="height:100%">
  <div class="row" >
      <div class="col-md-6"style="border:1px solid gray;border-radius:10px;margin: 1vw 1vw 1vw 3vw;background-image: url('https://i.imgur.com/1pLGxMy.png')">
        <div class="row">
          <h5 style='margin:1vw 0vw 0vw 1vw'>Current Stats</h5>
        </div>
        <div class="row">
        <div class="col-md-3" style="border-right:1px solid lightgray">
          <h4 class="text-center"><%=@dashboard.length%></h4>
          <h5 class='text-center' style='color:gray'>Jobs Running</h5>
        </div>
        <div class="col-md-3" style="border-right:1px solid lightgray">
          <h4 class="text-center"><%=@last_changed.label%></h4>
          <h5 class='text-center' style='color:gray'>Recently Changed</h5>
        </div>
        <div class="col-md-3" style="border-right:1px solid lightgray">
          <h4 class="text-center">25</h4>
          <h5 class='text-center' style='color:gray'>Violations</h5>
        </div>
        <div class="col-md-3">
          <h4 class="text-center">4</h4>
          <h5 class='text-center' style='color:gray'>Errors</h5>
        </div>
      </div>
      <div class="row">
        <h5 style="height:2vw"></h5>
      </div>
    </div>
    <div class="col-md-3"style="border:1px solid gray;border-radius:10px;margin: 1vw 1vw 1vw 3vw;background-image: url('https://i.imgur.com/1pLGxMy.png')">
      <div class="col-md-8" >
        <h5 style='margin:1vw 0vw 0vw 1vw'> Storage Available</h5>
        <h4 class="text-center" style ='border-right:1px solid lightgray' id='percent'>%</h4>
        <progress id='progress' value="" max="70" style="width:95%;"></progress>
      </div>
      <div class="col-md-4">
        <img id='green' src ="https://i.imgur.com/m5Rqxdf.png" style='margin: 1vw 0vw 0vw 0vw;width:100%'>
        <img id='yellow' src ="https://i.imgur.com/OBUbMyH.png" style='margin: 1vw 0vw 0vw 0vw;width:100%'>
        <img id='red' src ="https://i.imgur.com/Og8RigL.png" style='margin: 1vw 0vw 0vw 0vw;width:100%'>
      </div>
    </div>
  </div>
  <div class="row">
    <div class ="col-md-5" style="border:1px solid gray;border-radius:10px;margin:1vw 1vw 1vw 3vw;background-image: url('https://i.imgur.com/1pLGxMy.png')">
      <div class="row">
        <div class="col-md-7">
          <div id="pieChart">
          </div>
          <label>Turn On Live Feed <input type = "checkbox" id="check_pie"></input></label>
        </div>
        <div class="col-md-5" style='margin-top:5vh'>
          <ul id='d-list' style="list-style: none;">
            <%@dashboard.each do |d|%>
            <li id='<%=d.id%>'><span class="glyphicon glyphicon-th-large" style="color:<%=d.color%>"></span> <%=d.label%> : <%=d.value%>
              <%= link_to "/dashboard/#{d.id}", data: {:confirm => 'Are you sure you want to delete this Project?', :toggle => "tooltip"}, title: "Delete", method: :delete, class: "danger" do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
              </li><br>
            <%end%>
          </ul>
          <button class='btn-sm btn-success' id='modal-button'>New Project</button>
        </div>
      </div>
    </div>

    <div class ="col-md-6" style="border:1px solid gray;border-radius:10px;margin:1vw;background-image: url('https://i.imgur.com/1pLGxMy.png')">
      <h4 class="text-center">Live Weather Report</h4>
      <div class="row">
        <div class="col-md-9">
          <div id="chart" style="height:39.5vh"></div>
        </div>
        <div class="col-md-3">
          <button style="margin-bottom:1vw"class='btn-lg btn-success' id="fremont">Fremont</button>
          <button style="margin-bottom:1vw"class='btn-lg btn-success' id="chicago">Chicago</button>
          <button style="margin-bottom:1vw"class='btn-lg btn-success' id="texas">Texas</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog" style="margin: 0 auto;">
    <div class="modal-dialog" style='margin-left: -15vw'>
      <div class="modal-content" >
        <div class="modal-header">
          <h4>New Project
          <button type="button" class="close" data-dismiss="modal">&times;</button></h4>
        </div>
        <div class="modal-body">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token%>
            <div class="form-group">
              <label for="reason"> Name:</label>
              <input class="form-control" value="" id="label"></input>
              <label for="reason"> Color:</label>
              <input class="form-control" value="" id="color"></input>
              <label for="reason"> Value:</label>
              <input class="form-control" value="" id="value"></input>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="modal-submit"class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Submit</button>
        </div>
      </div>
    </div>
  </div>
<script>
var chart = c3.generate({
      bindto: '#chart',
    data: {
      columns: [
        ['Fremont Day Temp', '<%=@day[1]%>', '<%=@day[2]%>', '<%=@day[3]%>', '<%=@day[4]%>', '<%=@day[5]%>', '<%=@day[6]%>','<%=@day[7]%>'],
        ['Fremont Night Temp', '<%=@night[1]%>', '<%=@night[2]%>', '<%=@night[3]%>', '<%=@night[4]%>', '<%=@night[5]%>', '<%=@night[6]%>','<%=@night[7]%>']
      ]
    },
    axis: {
      y: {
        label: {
          text: 'Temperature ',
          position: 'outer-middle'
        }
      },
      x: {
        show: true,
        label: {
          text: 'Days in Future',
          position: 'outer-middle'
        }
      }
    }
});
  $('#chicago').on('click',function(){
    chart.load({
      columns: [
        ['Chicago Day Temp', '<%=@c_day[1]%>', '<%=@c_day[2]%>', '<%=@c_day[3]%>', '<%=@c_day[4]%>', '<%=@c_day[5]%>', '<%=@c_day[6]%>','<%=@c_day[7]%>'],
        ['Chicago Night Temp', '<%=@c_night[1]%>', '<%=@c_night[2]%>', '<%=@c_night[3]%>', '<%=@c_night[4]%>', '<%=@c_night[5]%>', '<%=@c_night[6]%>','<%=@c_night[7]%>']
      ]
    });
    chart.unload({
      ids: ['Fremont Day Temp', 'Fremont Night Temp','Texas Day Temp','Texas Night Temp']
    });
  })
  $('#fremont').on('click',function(){
    chart.load({
      columns: [
        ['Fremont Day Temp', '<%=@day[1]%>', '<%=@day[2]%>', '<%=@day[3]%>', '<%=@day[4]%>', '<%=@day[5]%>', '<%=@day[6]%>','<%=@day[7]%>'],
        ['Fremont Night Temp', '<%=@night[1]%>', '<%=@night[2]%>', '<%=@night[3]%>', '<%=@night[4]%>', '<%=@night[5]%>', '<%=@night[6]%>','<%=@night[7]%>']
      ]
    });
    chart.unload({
      ids: ['Chicago Day Temp', 'Chicago Night Temp','Texas Day Temp','Texas Night Temp']
    });
  })
  $('#texas').on('click',function(){
    chart.load({
      columns: [
        ['Texas Day Temp', '<%=@t_day[1]%>', '<%=@t_day[2]%>', '<%=@t_day[3]%>', '<%=@t_day[4]%>', '<%=@t_day[5]%>', '<%=@t_day[6]%>','<%=@t_day[7]%>'],
        ['Texas Night Temp', '<%=@t_night[1]%>', '<%=@t_night[2]%>', '<%=@t_night[3]%>', '<%=@t_night[4]%>', '<%=@t_night[5]%>', '<%=@t_night[6]%>','<%=@t_night[7]%>']
      ]
    });
    chart.unload({
      ids: ['Chicago Day Temp', 'Chicago Night Temp','Fremont Day Temp','Fremont Night Temp']
    });
  })

var contentArray = []
'<%@dashboard.each do |d|%>'
contentArray.push(
      {
				"label": '<%= d.label%>',
				"value": parseInt('<%= d.value%>'),
				"color": '<%= d.color%>',
			},
    );
    '<%end%>'
var pie = new d3pie("pieChart", {
	"header": {
		"title": {
			"text": "Projects",
			"fontSize": 20,
			"font": "courier"
		},
		"subtitle": {
			"text": "Current Status",
			"color": "#999999",
			"fontSize": 10,
			"font": "courier"
		},
		"location": "pie-center",
		"titleSubtitlePadding": 10
	},
	"footer": {
		"text": "* Value changed in DB, and then dynamically displayed here",
		"color": "#999999",
		"fontSize": 12,
		"font": "open sans",
		"location": "bottom-left"
	},
	"size": {
		"canvasWidth": 300,
		"canvasHeight": 300,
		"pieInnerRadius": "84%",
		"pieOuterRadius": "75%"
	},
	"data": {
		"sortOrder": "label-desc",
		"smallSegmentGrouping": {
			"enabled": true,
			"valueType": "value",
			"color": "#cab4b4"
		},
		"content":contentArray
	},
  "labels": {
  		"outer": {
  			"pieDistance": 12
  		},
  		"inner": {
  			"format": "none",
  		},
  		"mainLabel": {
  			"fontSize": 12
  		},
  		"percentage": {
  			"color": "#999999",
  			"fontSize": 11,
  			"decimalPlaces": 0
  		},
  		"value": {
  			"color": "#cccc43",
  			"fontSize": 0
  		},
  		"lines": {
  			"enabled": true,
  			"color": "#777777"
  		},
  		"truncation": {
  			"enabled": true
  		}
  	},
	"tooltips": {
		"enabled": true,
		"type": "placeholder",
		"string": "{label}: {percentage}%",
		"styles": {
			"fontSize": 15
		}
	},
	"effects": {
		"pullOutSegmentOnClick": {
			"effect": "linear",
			"speed": 400,
			"size": 8
		}
	},
	"misc": {
		"colors": {
			"segmentStroke": "#000000",
		}
	},
	"callbacks": {}
});

</script>
